nav {
  margin-bottom: 100px;
}

h1,
.navbar-brand {
  font-family: 'Times New Roman', Times, serif;
  color: teal;
}

section {
  margin-bottom: 150px;
}

.form-control {
  border-radius: 0px;
}

.btn-lg {
  background-color: teal;
  color: white;
  border-radius: 0px;
  padding: 20px 40px;
}

footer {
  text-align: center;
  border-top: 6px solid teal;
}

@media screen and (max-width: 575px) {
  .wrapper {
    margin-right: 50px;
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    padding-right: 0px;
    margin-right: 50px;
  }
}